/* src/components/Navbar.css */
.navbar {
  background-color: white;
  border-bottom: 2px solid #facc15; /* yellow */
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
}

.navbar .nav-links a {
  margin: 0 12px;
  font-weight: 500;
  color: #333;
}
.navbar .nav-links a:hover {
  color: #f59e0b; /* orange hover */
}
